@page "/fizzbuzz"


<h1>Fizz Buzz</h1>

<ul>
        @foreach (string porco in OsTresPorquinhos())
        {
            <li> @porco </li>
        }
    </ul>

<input placeholder="Fizz" @bind="@Fizz" />

<input placeholder="Buzz" @bind="@Buzz" />

@TableGenerator()





@code {
    private RenderFragment TableGenerator()
    {
        RenderFragment table;
        table = t =>
        {
            t.OpenElement(1, "table");

            foreach (int[] row in rowsDivided())
            {
                t.OpenElement(2, "tr");
                foreach (int num in row)
                {
                    var value = (string)null;
                    if (Fizz != 0 && Buzz != 0)
                    {

                        if (num % Fizz == 0)
                        {
                            value = "Fizz";
                        }
                        if (num % Buzz == 0)
                        {
                            value += "Buzz";

                        }
                    }
                    value = (value == null) ? num.ToString() : value;

                    t.OpenElement(3, "td");
                    t.AddContent(4, value);
                    t.CloseElement();
                }
                t.CloseElement();
            }
            t.CloseElement();
        };
        return table;
    }

    public int Fizz;
    public int Buzz;

    public int[] oneHundred = Enumerable.Range(1, 100).ToArray();

    public List<int[]> rowsDivided()
    {
        var rowItemIndex = 0;
        var maxItensPerRow = 9;
        List<int[]>
            rowDivided = new List<int[]>
                ();
        List<int>
            rowItems = new List<int>
                ();
        foreach (int num in oneHundred)
        {
            if (rowItemIndex > maxItensPerRow)
            {
                rowItemIndex = 0;
                rowDivided.Add(rowItems.ToArray());
                rowItems.Clear();

            }
            rowItems.Add(num);
            rowItemIndex++;
        }
        return rowDivided;
    }

    public string[] OsTresPorquinhos()
    {
        return new string[] { "Porco 01", "Porco 02", "Robson" };
    }
}

